h1 {
  color:black;
}

.p1 {
  font-family: 'Chivo', sans-serif;
  border: 1px solid black;
}

.p2 {
  font-family: 'Chivo',sans-serif;
border: 1px solid black;
}

.p3 {font-family: 'Chivo',sans-serif;
border: 1px solid black;
}

body {
  font-family: 'Chivo', sans-serif;
}

img {
  width: 300px;
}

#header {
  background:White
  position:
  z-index:
  widt:
}

#title {
  margin-left:
  width:
}

.project_r {
  w
  backgr
  f;
  pad
  ma
}

.project_l {
  w
  backgr
  f
  padd
  ma
}

p {
  col
  font-famil
  width: 35%;
  background: White;
  padding: 15px;
  margin: 20px;
}

.right {
    float: right;
    background: white;
}

.left {
  float: left;
  background: White;
}

img {}

h1 {
  color: black;
  background: white;
  margin: 50px;
  padding: 25px;
  display: ;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  float: right;
  color: black;
  background: White;
  width: 40%;
  padding: 15px;
  margin: 20px;
}

ul {
  color: black;
  font-family: 'Open Sans', sans-serif;
  width: 35%;
  background: White;
  padding: 15px;
  margin: 20px;
  list-style-position: inside;
}

ol {
  color
  font-family: 'Chivo', sans-serif;
  width: 35%;
  background: White;
  padding: 15px;
  margin: 20px;
}
